// Variables
$link-color:        #428bca; // sea blue
$link-color-hover:  darken($link-color, 10%);

/* Selected colors */
$color1: #17252A;
$color2: #2B7A78;
$color3: #3AAFA9;
$color4: #DEF2F1;
$color5: #FEFFFF;


/* Selected fonts */
$basicFont: 'Roboto', sans-serif;
$headerFont: 'Work Sans', sans-serif;